<div class="dropdown show">
  <a class="btn btn-light dropdown-toggle"
  href="#" role="button" id="dropdownMenuLink"
  data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false">
    R
  </a>

  <!-- Menu Content -->
  <div class="dropdown-menu"
  aria-labelledby="dropdownMenuLink" >
  <h6 class="dropdown-header">Race</h6>
    <a *ngFor="let race of races" class="dropdown-item"
    (click)="setRace(race)" value="short">
    <!-- Capitalize first letter of string -->
    {{ race.charAt(0).toUpperCase() + race.slice(1) }}
    </a>
  </div>
</div>
