<!-- Button Content -->
<!--  -->
<div class="dropdown show">
  <a class="btn btn-light dropdown-toggle"
  href="#" role="button" id="dropdownMenuLink"
  data-toggle="dropdown"aria-haspopup="true"
  aria-expanded="false">
    G
  </a>

  <!-- Menu Content -->
  <div class="dropdown-menu"
  aria-labelledby="dropdownMenuLink">
  <h6 class="dropdown-header">Length</h6>
    <a class="dropdown-item" (click)="setGender('male')" value="male">Male</a>
    <a class="dropdown-item" (click)="setGender('female')" value="female">Female</a>
    <a class="dropdown-item" (click)="setGender('other')" value="other">Other</a>
    <a class="dropdown-item" (click)="setGender('any')" value="any">Any</a>
  </div>
</div>
