<!-- Button Content -->
<!-- [(ngModel)]=generate().gender -->
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    G
  </a>

  <!-- Menu Content -->
  <div class="dropdown-menu"
  aria-labelledby="dropdownMenuLink" >
    <a class="dropdown-item" value="male">Male</a>
    <a class="dropdown-item" value="female">Female</a>
    <a class="dropdown-item" value="other">Other</a>
    <a class="dropdown-item" value="unspecified">Unspecified</a>
  </div>
</div>
