body{
  background-color: #202a36;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.btnGroup{
  display: inline-block;
}
.dropdown{
  margin-top: 30px;
}
.dropdown-header {
  font-weight: bold;
}
.dropdown-item{
  cursor: pointer;
}
.dropdown-item:hover {
  background-color: #e6ebf0;
}
.selected, .selected:hover, .dropdown-item:active {
  background-color: #abb9c7;
}

