<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
  <h1 class="center">{{ title }}</h1>
  <br />

  <div class="nameDiv container">
    <span id="prevArrow" class="nextPrev" (click)="nameService.goToPreviousName()">
      ◄
    </span>
    <input id="nameBox" class="center" type="text" spellcheck="false" [(ngModel)]="nameService.name" #change
      value="{{ nameService.nameList[nameService.nameIndex] }}" />
    <span id="nextArrow" class="nextPrev" (click)="nameService.goToNextName()">
      ►
    </span>
  </div>

  <div>
    <div id="nameParams" class="container">
      <div class="btn-group" role="group">

        <div class="row">
          <div class="dropbtn col-4">
            <app-gender [genderIn]="this.gender" (genderOut)="genderChanged($event)"></app-gender>
          </div>
          <div class="dropbtn col-4">
            <app-race [raceIn]="this.race" (raceOut)="raceChanged($event)"></app-race>
          </div>
          <div class="dropbtn col-4">
            <app-length [lengthIn]="this.length" (lengthOut)="lengthChanged($event)"></app-length>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="generateDiv" class="col-12">
    <button type="button" id="generateButton" class="btn btn-light center-block" (click)="
    nameService.setName(
    nameService.generateName(
        this.gender,
        this.race,
        this.length
      )
    )">Generate</button>
  </div>

  <footer>
    <span>Github:</span>
      <a id="githubLink" target="_blank" href="https://github.com/erikringwalters">
        erikringwalters</a>
  </footer>
</body>
