h1{
  font-size: 32pt;
  margin: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#nameBox{
  height: 40px;
  width: 200px;
  text-align: center !important;
  font-size: 32px;
  font-weight: lighter;
  outline: none;
  border: none;
  bottom: 100px;
  border-radius: 2px;
}
#nameParams{
  text-align: center;
}
.nameDiv{
  text-align: center;
}

footer{
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: black;
}
#githubLink{
  color: black;
}

