h1 {
  font-size: 32pt;
  margin: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nameDiv, .nameDiviOS {
  text-align: center;
  user-select: none;
}

.nextPrev {
  font-size: 24pt;
  cursor: pointer;
}

#nameBox, #nameBoxiOS {
  width: 250px;
  text-align: center !important;
  font-size: 32px;
  font-weight: lighter;
  outline: none;
  border: none;
  bottom: 100px;
  border-radius: 2px;
}
#nameBox {
  height: 40px;
}
#nameBoxiOS {
  height: 50px;
}

#nameParams {
  text-align: center;
}

#generateDiv {
  text-align: center;
  position: absolute;
  bottom: 100px;
}

 #generateButton {
  text-align: center;
  width:200px;
  cursor: pointer;
 }

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: black;
}

#githubLink {
  color: black;
}
