<h1 class="center">{{ title }}</h1>
<br/>

<div class="nameDiv container">
    <span id="prevArrow" class="nextPrev" (click)="nameService.goToPreviousName()">
       ◀
    </span>
    <input id="nameBox" class="center" type="text" spellcheck="false"
    [(ngModel)]="nameService.name"
    #change
    value="{{ nameService.nameList[nameService.nameIndex] }}"/>
    <span id="nextArrow" class="nextPrev" (click)="nameService.goToNextName()">
       ▶
    </span>
</div>

<div>
  <div id="nameParams" class="container">
    <div class="btn-group" role="group">

      <div class="row">
        <div class="dropbtn col-4">
            <app-gender></app-gender>
        </div>
        <div class="dropbtn col-4">
            <app-race></app-race>
        </div>
        <div class="dropbtn col-4">
            <app-length></app-length>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="generateDiv" class="col-12">
  <button type="button"
    id="generateButton"
    class="btn btn-light center-block"
    (click)="nameService.setName(
      nameService.generateName(
        nameService.gender, nameService.race, nameService.length
      )
    )">Generate</button>
</div>

<footer>
  Github: <a id="githubLink" target="_blank"
  href="https://github.com/erikringwalters">
  erikringwalters</a>
</footer>
