<div class="dropdown show">
  <a class="btn btn-light dropdown-toggle"
  href="#" role="button" id="dropdownMenuLink"
  data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false">
    L
  </a>

  <!-- Menu Content -->
  <div class="dropdown-menu"
  aria-labelledby="dropdownMenuLink" >
    <h6 class="dropdown-header">Length</h6>
    <div class="dropdown-divider"></div>
    <a *ngFor="let length of lengths" class="dropdown-item"
    [ngClass]="length == this.selectedLength ? 'selected': 'notSelected'"
    (click)="changeLength(length)" value="race">
    <!-- Capitalize first letter of string -->
    {{ length.charAt(0).toUpperCase() + length.slice(1) }}
    </a>
  </div>
</div>
