<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle"
    href="#" role="button" id="dropdownMenuLink"
    data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
      L
    </a>

    <!-- Menu Content -->
    <div class="dropdown-menu"
    aria-labelledby="dropdownMenuLink" >
    <h6 class="dropdown-header">Length</h6>
      <a class="dropdown-item" value="short">Short</a>
      <a class="dropdown-item" value="medium">Medium</a>
      <a class="dropdown-item" value="long">Long</a>
      <a class="dropdown-item" value="any">Any</a>
    </div>
  </div>
